/* Backgroud */
.wrap{
    width: 100%;
    background: #FFFFFF;
}
.wrap2{
    width: 100%;
    background: #415165;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.container2{
    width: 996px;
    margin: 0 auto;
}

/* Font */
.color-red{
    color: #A00404;
}
.color-white{
    color: #FFFFFF;
}
h1{
    text-align: left;
    font-family: normal normal normal Roboto;
    font-size: 80px;
    line-height: 106px;
    letter-spacing: 0px;
    opacity: 1;
}
h2{
    text-align: left;
    font-family: normal normal normal Noto Sans;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0px;
    opacity: 1;
    margin-right: 16px;
}
h3{
    text-align: left;
    font-family: normal normal medium Roboto;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 0px;
    opacity: 1;
}
li{
    font-family: normal normal normal Noto Sans;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    opacity: 1;
    padding-bottom: 24px;
}
.engList{
    font-family:  normal normal Roboto;
    padding-bottom: 16px;
}
p{
    text-align: left;
    font-family: normal normal normal Noto Sans;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.text-center{
    text-align: center;
}

/* 調整位置 */
.hr-reset{
    margin: 0;
}
.mb-16{
    margin-top: 0;
    margin-bottom: 16px;
}
.mb-32{
    margin-top: 0;
    margin-bottom: 32px;
}
.mb-37{
    margin-top: 0;
    margin-bottom: 37px;
}
.mb-reset{
    margin-bottom: 0;
}
.mr-reset{
    margin-right: 0;
}
.mr-24{
    margin-right: 24px;
}
.pt-24{
    padding-top: 36px;
}
.pt-72{
    padding-top: 72px;
}
.pb-36{
    padding-bottom: 36px;
}
.pb-reset{
    padding-bottom: 0px;
}
.pb-72{
    padding-bottom: 72px;
}
.center{
    justify-content: center;
    align-items: center; 
}

/* Elements */
h1{
    width: 264px;
    height: 212px;
    margin-top: 37px;
    margin-bottom: 3px;
}
.photo{
    margin: 48px 0;
}
.photo>img{
    width: 324px;
    height: 324px;
}
.title{
    display: flex;
    padding-bottom: 8px;
}
.listLine{
    border-left: 1px solid #96A9C4;
}
/* 暫時解決skill-list置中的問題 */
.skills-box{
    width: 230px;
    margin: 0 auto;
}
.listLine>li{
    padding-left: 24px;
}
.logo>img{
    width: 90px;
    height: 90px;
    margin: 8px 0;
}
p{
    width:642px ;
}
.icon{
    display: inline;
}
